.summary {
  display: flex;
  justify-content: center;
  max-width: 60rem;
  margin: 1rem auto;
  padding: 0.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  border: 2px solid #333;
  padding: 10px;
  border-radius: 0.5rem;
}

.title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.summary ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.summary li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
  border: 1px solid black;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  width: 40rem;
  padding: 0.75rem;
  transition:
    box-shadow 0.2s ease,
    transform 0.2s ease;
}

.summary li:hover {
  box-shadow: 4px 6px 12px rgba(0, 128, 64, 0.6);
  transform: translateY(-2px) translateX(-2px);
}

.total-debit {
  color: rgb(226, 98, 124);
}

.total-credit {
  color: #307e6c;
}

.balance {
  color: lightblue;
}
