.user-input {
  padding: 1rem;
  margin: 0;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: "transparent";
  width: 100%;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.user-input label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.user-input input {
  width: max-content;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #c2e9e0;
  font-size: 1rem;
}

.invalid input,
.invalid select {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
  color: #373737;
}

.invalid input:focus,
.invalid select:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
  color: #373737;
}

.validation-message {
  color: crimson;
  font-weight: 700;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.actions {
  text-align: right;
  margin: 1rem 0 0 0;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #1a1f1d;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #003e25;
  border-color: #39443f;
  color: white;
}

.actions .button-close:hover,
.actions .button-close:active {
  background-color: #6b2323;
}

.actions .button-close {
  color: #1d2320;
}

.actions .button-save {
  background-color: #39443f;
  color: white;
}

.actions .button-save:disabled {
  background-color: #ccc;
  color: #373737;
  cursor: not-allowed;
  border: none;
}
