.user-input {
  padding: 1rem;
  width: 30rem;
  margin: 2rem auto;
  border-radius: 0.5rem;
  background: linear-gradient(180deg, #307e6c, #2b996d);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.user-input label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.user-input input {
  width: max-content;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #c2e9e0;
  font-size: 1rem;
}

.validation-message {
  color: crimson;
  font-weight: 700;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.search-button {
  padding: 0.5rem 0;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #c2e9e0;
  background-color: transparent;
  border: 2px solid #76c0ae;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #1e704f;
}

.search-button:active {
  border-color: #1e704f;
}

.search-button:disabled {
  background-color: #ccc;
  color: #373737;
  cursor: not-allowed;
  border: none;
}
