.transactions {
  table-layout: fixed;
  border-spacing: 0;
  text-align: left;
  width: 100%;
}

.transactions thead {
  font-size: 0.8rem;
  color: #83e6c0;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 1;
}

.transactions tbody {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
  color: #c2e9e0;
}

.transactions th,
.transactions td {
  padding: 8px;
  white-space: normal;
  text-wrap: balance;
}

.transactions th:nth-child(1),
.transactions td:nth-child(1),
.transactions th:nth-child(4),
.transactions td:nth-child(4),
.transactions th:nth-child(5),
.transactions td:nth-child(5) {
  width: 10%;
}

.transactions th:nth-child(6),
.transactions td:nth-child(6) {
  width: 15%;
}

.transactions th:nth-child(1),
.transactions th:nth-child(5) {
  cursor: pointer;
  position: relative;
}

.sortable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-left: 4px;
}

.sorted-asc .sort-arrow {
  border-bottom: 4px solid #000;
}

.sorted-desc .sort-arrow {
  border-top: 4px solid #000;
}

.transactions th {
  background-color: #83e6c0;
  color: #1a1f1d;
  text-align: center;
}

.transactions td:nth-child(1),
.transactions td:nth-child(4),
.transactions td:nth-child(5) {
  text-align: center;
}

.transactions tbody tr:nth-child(even) {
  background-color: #1a1f1d;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.actions button {
  margin: 3px 0;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.editButton {
  /* color: linear-gradient(#5452ff, #312efd); */
  color: #5452ff;
}

.deleteButton {
  /* color: linear-gradient(#ff7373, #ff5454); */
  color: #ff7373;
}
